<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amaz.jobsaround">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".ui.activities.owner.create_job.CreateJobActivity"/>
        <activity android:name=".ui.activities.owner.job_fees.JobFeesActivity"/>
        <activity android:name=".ui.activities.owner.owner_register.OwnerRegisterActivity"/>
        <activity android:name=".ui.activities.seeker.job_seeker_register.JobSeekerRegisterActivity"/>
        <activity android:name=".ui.activities.seeker.my_jobs.MyJobsActivity"/>
        <activity android:name=".ui.activities.verification_phone_number.VerificationPhoneNumberActivity" />
        <activity android:name=".ui.activities.login.LoginActivity" />
        <activity android:name=".ui.activities.cv.CVActivity" />
        <activity android:name=".ui.activities.favorite.FavoriteActivity" />
        <activity android:name=".ui.activities.chat.ChatActivity" />
        <activity android:name=".ui.activities.job_details.JobDetailsActivity" />
        <activity android:name=".ui.activities.Home.HomeActivity" />
        <activity android:name=".ui.activities.FeesActivity" />
        <activity android:name=".ui.activities.RulesActivity" />
        <activity android:name=".ui.activities.UserTypeActivity" />
        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />
    </application>

</manifest>